include README.md LICENSE
include bayesclass/cpp/FeatureSelect.h
include bayesclass/cpp/Node.h
include bayesclass/cpp/Mst.h
include bayesclass/cpp/Network.h
include bayesclass/cpp/Metrics.hpp
include bayesclass/cpp/BaseClassifier.h
include bayesclass/cpp/Ensemble.h
include bayesclass/cpp/TAN.h
include bayesclass/cpp/KDB.h
include bayesclass/cpp/SPODE.h
include bayesclass/cpp/AODE.h
include bayesclass/cpp/utils.h